<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/nav %>

        <div class="weed-background" style="height: 100%; width: 100%; color: black;">
            <h2>Login Here</h2>

            
        </div>




       
        <% include ../partials/footer %>
        <% include ../partials/scripts %>
    </body>
</html>
