<!DOCTYPE html>
<html>
    <head>
        <title>Choose Industry</title>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/nav %>

        <div class="ambu-background" >
            <h1>THIS IS THE LANDING AFTER Register as INDUSTRY</h1>
            <h3>Thank you <%= user.name %>, for registering with our database.</h3>
            

            <div class="container"> 
                <div class="row">
                    <% volunteers.forEach(({image, title, description}) => { %> 
                        <div class="col-md-4" style="width:20rem;">
                            <div class="card">
                                <img src="<%= image %>" class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title"><%= title %></h5>
                                    <p class="card-text"><%= description %> </p>
                                </div>
                            </div>
                        </br>
                        </div>
                    <% }) %>
                </div>
            </div>      
        </div>



        

        <% include ../partials/footer %> <% include ../partials/scripts %>
    </body>
</html>
