<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/nav %>

        <div class="ambu-background" >
            <h1>THIS IS THE LANDING AFTER YOU REG/LOGIN or UPDATE PROF/PW</h1>
            <h3>Thank you <%= user.name %>, for registering with our database.</h3>
            <h4>If you're worth a shit, someone will be in contact with you soon.</h4>
            <h4>Get on with your life and wash your hands.</h4>
        </div>

        

        <% include ../partials/footer %> <% include ../partials/scripts %>
    </body>
</html>
