<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/nav %>

        <div class="ambu-background" style="height: 100%; width: 100%; color: black;">
            <h1>THIS IS THE PROFILE PAGE</h1>
            <h3>welcome <%= user.name %> </h3>

        </div>


        <% include ../partials/footer %> <% include ../partials/scripts %>
    </body>
</html>
