<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/nav %>

        <div class="ambu-background" style="height: 100%; width: 100%; color: black;">
            <h2>Register Here</h2>

            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 my-form">
                        <% /* if (errors.length > 0) { */ %>
                        <p><%= /*errors */%></p>
                        <% /* } */%> <% if (errors.length > 0) { %>
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close" >
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <%= errors %>
                        </div>
                        <% } %>
                        <!-- REGISTER AS A INDUSTRY -->
                        <form role="form" method="POST" action="/users/register">
                            <fieldset>
                                <h2>Register As a Hospital
                                    <span class="button-checkbox">
                                        <a href="/login" class="btn btn-link pull-right">Already A Member?</a>
                                    </span>
                                </h2>

                                <div class="form-group">
                                    <input type="text" name="name" id="name" class="form-control input-lg" placeholder="Full Name"
                                    />
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address"/>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password"/>
                                </div>
                                <div class="form-group">
                                    <label for="admin">Admin:</label>&nbsp;&nbsp;
                                    <input type="checkbox" name="admin" id="admin" class=" input-lg" value="true"/>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <input type="submit" class="btn btn-primary" value="Register" />
                                    </div>
                                </div>
                            </fieldset>
                        </form>

                        <!-- REGISTER AS A PROFESSIONAL -->
                        <form role="form" method="POST" action="/users/register">
                            <fieldset>
                                <h2>Register as an individual
                                    <span class="button-checkbox">
                                        <a href="/login" class="btn btn-link pull-right">Already A Member?</a>
                                    </span>
                                </h2>

                                <div class="form-group">
                                    <input type="text" name="name" id="name" class="form-control input-lg" placeholder="Full Name"
                                    />
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address"/>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password"/>
                                </div>
                                <!-- <div class="form-group">
                                    <label for="admin">Admin:</label>&nbsp;&nbsp;
                                    <input type="checkbox" name="admin" id="admin" class=" input-lg" value="true"/>
                                </div> -->

                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <input type="submit" class="btn btn-primary" value="Register" />
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    <% include ../partials/footer %> 
    <% include ../partials/scripts %>
    </body>
</html>
