<!DOCTYPE html>
<html>
    <head>
        <title>Thank you!</title>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/nav %>

        <div class="ambu-background" >
            <h1>THIS IS THE LANDING AFTER YOU UPDATE PROF/PW</h1>
            <h3>Thank you <span style='color: red'><%= user.name %></span>, for registering with our database.</h3>
            <h4>If you're worth a shit, someone will be in contact with you soon.</h4>
            <h4>If you don't hear anything, you should do some soul searching</h4>
            <h5>Get on with your life and wash your hands.</h5>

       
               
        </div>



        

        <% include ../partials/footer %> <% include ../partials/scripts %>
    </body>
</html>
