<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="/images/sitelogo.png" style="width:100px; height:100px;" />
    <a class="navbar-brand" href="/">Humanity First</a>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarColor02"
        aria-controls="navbarColor02"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/recommendations">Recommendations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
           <% if(!user) { %>
            <li class="nav-item">
                <a class="nav-link" href="/api/users/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <% } else if(user) { %>
            <li class="nav-item">
                <a class="nav-link" href="/api/users/profile"
                    >Logged in as:
                    <span style="color: red"><%= user.name %></span></a
                >
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            <% } %>
        </ul>
    </div>
</nav>
