<!DOCTYPE html>
<html>
    <head>
        <title>Veteran's Assistance</title>
        <% include ./partials/head %>
    </head>
    <body>
        <% include ./partials/nav %>

        <div class="weed-background" style="height: 100%; width: 100%; color: black;">
            <h2>In the midst of a medical crisis we are an organization that stores a database of ex-military with medical </h2>
            <h2>specialities to assist when needed</h2>

            <h3>We are a volunteer force of ex Medics, Nurses, and Doctors from various branches of the US Military.</h3>
            <p>Click <a href="/register">here</a> to register</p>
        </div>




       
        <% include ./partials/footer %>
        <% include ./partials/scripts %>
    </body>
</html>
