<!DOCTYPE html>
<html>
    <head>
        <title>Humanity First</title>
        <% include ./partials/head %>
    </head>
    <body>
        <% include ./partials/nav %>
        <div id="parallax-world-of-ugg">
            <section>
                <div class="title">
                    <h3>One Team. One Mission.</h3>
                    <h1>HUMANITY</h1>
                </div>
            </section>

            <section>
                <div class="parallax-one"><h2>Emergency Medicine</h2></div>
            </section>

            <section>
                <div class="block">
                    <p>
                        <span class="first-character sc">W</span>e are devoted
                        to helping out when we can. Lorem, ipsum dolor sit amet
                        consectetur adipisicing elit. Incidunt ullam veritatis
                        rem sed provident ipsapora! Sit
                        provident aspernatur voluptatem pariatur repellendus
                        sint dicta neque.
                    </p>
                    <p class="line-break margin-top-10"></p>
                    <p class="margin-top-10">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Aperiam, alias animi, iure nulla sit, odio commodi
                        repellat fugit at illum architecto nemo tempore vel
                        facilis magnam voluptas amet! Optio iusto provident
                        veritatis ab, necessitatibus eligendi corrupti animi
                        possimus corporis doloremque asperiores nemo libero,
                        quas, delectus voluptatem earum cumque mollitia? Sunt
                        commodi, deleniti rerum repellat ea cupiditate pariatur
                        omnis vitae provident fugiat quasi tenetur velit
                        perferendis accusamus delectus porro debitis voluptate
                        amet aperiam placeat quia quo eius! Illum quasi corrupti
                        quod minus quis repellendus cum atque quos eos
                        perspiciatis eveniet facilis amet, nisi, iusto veritatis
                        impedit, deleniti quidem earum ducimus dicta?
                    </p>
                </div>
            </section>

            <section>
                <div class="parallax-two">
                    <h2>Fire/Rescue</h2>
                </div>
            </section>

            <section>
                <div class="block">
                    <p>
                        <span class="first-character ny">N</span>ew York Strong.
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Similique nisi veritatis nihil labore asperiores
                        distinctio temporibus corrupti, cum magni? Voluptate
                        culpa, modi reprehenderit optio similique quo architecto
                        nobis quidem aperiam dignissimos deleniti quam iste est
                        numquam iure sit quis hic, delectus exercitationem vel
                        expedita eligendi aspernatur consectetur repudiandae?
                        Distinctio, amet.
                    </p>
                    <p class="line-break margin-top-10"></p>
                    <p class="margin-top-10">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Dolorum, repellendus dolorem fuga hic autem nostrum est
                        mollitia quos ex, non tempore tempora. Quam veniam cum
                        pariatur, molestiae eos magnam mollitia laborum nam,
                        delectus animi quo dolores blanditiis hic ad ipsa dolor
                        harum voluptatibus illo tempora temporibus autem
                        officia! Fugit, magnam! Eius harum, minima cupiditate
                        atque accusantium tempore excepturi dignissimos cumque
                        commodi, possimus velit aperiam nemo ad assumenda et
                        nostrum molestiae.
                    </p>
                </div>
            </section>

            <section>
                <div class="parallax-three">
                    <h2>Law Enforcement</h2>
                </div>
            </section>

            <section>
                <div class="block">
                    <p>
                        <span class="first-character atw">W</span>ords on page,
                        dont mean much.Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Totam corporis molestiae deleniti iste
                        impedit aut. Reiciendis rerum a quo nisi?
                    </p>
                    <p class="line-break margin-top-10"></p>
                    <p class="margin-top-10">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Dolores aliquam, enim optio culpa officia dolor nostrum.
                        Dicta ex voluptate nisi deserunt! Sed nulla ad
                        reprehenderit perferendis velit, non labore tenetur
                        assumenda ipsam, dolore esse cumque maiores molestiae
                        autem beatae voluptas dolorem qui perspiciatis illo
                        quasi consequatur vel odio ipsum alias. Inventore, est
                        sed distinctio praesentium quibusdam libero esse fugit
                        corrupti voluptate possimus, perferendis saepe assumenda
                        suscipit, sapiente quo. Vitae, eos.
                    </p>
                </div>
            </section>
        </div>

        <% include ./partials/footer %> <% include ./partials/scripts %>
    </body>
</html>
