<!DOCTYPE html>
<html>
    <head>
        <title>Veteran's Assistance</title>
        <% include ./partials/head %>
    </head>
    <body>
        <% include ./partials/nav %>

        <div class="ambu-background" style="height: 100%; width: 100%; color: black;">
            <h2>Blah blah blah</h2>

            <h3>Heres words about stuff on a website</h3>
            <p>Click <a href="/api/users/register">here</a> to register</p>
        </div>




       
        <% include ./partials/footer %>
        <% include ./partials/scripts %>
    </body>
</html>
