* {
    padding: 0;
    margin: 0;
}

body, html {
    font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
    height: 100%;
}

a {
    color: #00b7ff;
}

.ambu-background {
    background-image: url('/images/ambulance.jpg');
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.firstCheck {
    width: 200px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}