<!DOCTYPE html>
<html>
    <head>
        <title>Contact Us</title>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/nav %>

        <div class="ambu-background" style="height: 100%; width: 100%; color: black;">
            <h2 style='text-align: center;'>Contact Us</h2>

            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 my-form" >
                
                <form role="form" method="POST" action="/api/users/login">
                    <fieldset>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name</label>
                            <input
                                type="email"
                                name='email'
                                class="form-control"
                                id="email"
                                aria-describedby="emailHelp"
                                placeholder="Enter name"
                            />
                           
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input
                                type="email"
                                name='email'
                                class="form-control"
                                id="email"
                                aria-describedby="emailHelp"
                                placeholder="Enter email"
                            />
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                       
                     

                         <div class="form-group">
                            <label for="exampleTextarea">Message</label>
                            <textarea class="form-control" id="exampleTextarea" rows="3" placeholder='Enter Message'></textarea>
                        </div>
                            
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </fieldset>
                </form>
                </div>
                </div>
            </div>

        </div>
        
        




       
        <% include ../partials/footer %>
        <% include ../partials/scripts %>
    </body>
</html>
