<!DOCTYPE html>
<html>
    <head>
        <title>Recommendations</title>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/nav %>

        <div class="ambu-background" style="height: 100%; width: 100%; color: black;">
            <h1>Recommendations for COVID-19</h1>


            <h5>Useful Links</h5>
            <a href="https://www.cdc.gov/">Center for Disease Control</a><br>
            <a href="https://www.whitehouse.gov/wp-content/uploads/2020/03/03.16.20_coronavirus-guidance_8.5x11_315PM.pdf">CoronaVirus Guidelines for United States</a><br>
            <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports">COVID-19 Daily Situation Reports</a>
            
        </div>





       
        <% include ../partials/footer %>
        <% include ../partials/scripts %>
    </body>
</html>
