<!DOCTYPE html>
<html>
    <head>
        <title>Services</title>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/nav %>

        <div class="ambu-background" style="height: 100%; width: 100%; color: black;">
            <h1>Services we offer</h1>

            
        </div>




       
        <% include ../partials/footer %>
        <% include ../partials/scripts %>
    </body>
</html>
